@import 'App.scss';
@import 'buttons.scss';
@import 'components/Background.scss';
@import 'components/Header.scss';
@import 'components/Menu.scss';
@import 'components/Prompt.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
