
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    margin: .33rem .5rem;
}

.header-clock {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
