
.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-avatar {
    width: 8rem;
    height: 8rem;

    background-color: #00000022;
    border-radius: 1e10px;

    margin-bottom: 1rem;
}

.prompt-fields {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.prompt-username-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.prompt-username-arrow {
    color: #ffffff88;
}

.prompt-username {
    text-align: center;
    color: white;
    font-size: 1.25em;
    margin: 0 1rem;
}

.prompt-field {
    width: 20rem;
    height: 3rem;

    padding: 0 1.5rem;

    border: none;
    outline: none;
    border-radius: .33rem;

    background-color: #00000022;
    color: white;
    font-size: 1em;
    text-align: center;

    margin-bottom: 1rem;

    &::placeholder {
        color: white;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.password {
    display: flex;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 3rem;
    height: 3rem;

    background-color: #ffffff22;
    color: white;
    border-radius: .33rem;
    margin-left: 1rem;
}
